* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow: hidden;
}
.container {
  font-size: 10px;
  width: 60em;
  height: 60em;
  position: relative;
  /* border: 2px solid white; */
}
.sun {
  position: absolute;
  background-color: yellow;
  height: 15em;
  width: 15em;
  border-radius: 50%;
  box-shadow: 0 0 3em white;
  top: 27em;
  left: 27em;
}
.earth,
.moon {
  position: absolute;
  border-style: solid;
  border-color: white transparent transparent transparent;
  border-width: 0.5em 0.5em 0 0;
  border-radius: 50%;
}
.earth {
  width: 50em;
  height: 50em;
  top: 10em;
  left: 10em;
  animation: orbit 15.5s linear infinite;
}
.moon {
  width: 15em;
  height: 15em;
  top: -0.5em;
  left: 35.3em;
  animation: orbit 2.3s linear infinite;
}
.earth::before,
.moon::before {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.earth::before {
  top: 3em;
  right: 3em;
  width: 8em;
  height: 8em;
  background-color: aqua;
  box-shadow: 0 0 2em white;
}
.moon::before {
  top: 0em;
  right: 1em;
  width: 3em;
  height: 3em;
  background-color: silver;
}
@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}
